<div class="well" id="share-facts">
    <div class="row">
        <div class="col-xs-12 text-center">
            <h2>Share this</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">

            <div class="social-share-text text-center">
                Find out how government cuts to English councils are affecting your local area.
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 text-center">
            <div class="social-sharing is-large">

                <a style="text-decoration: none !important" target="_blank"
                   href=""
                   class="share-twitter">
                    <span class="icon icon-twitter"></span>
                    <span class="share-title">Tweet</span>
                </a>
                <a style="text-decoration: none !important" target="_blank"
                   href=""
                   class="share-facebook">
                    <span class="icon icon-facebook"></span>
                    <span class="share-title">Share</span>

                </a>

            </div>
        </div>
    </div>

</div>